:root {
  --grey: #8b8b8b;
  --blue: #cfd9f1;
  --white: #f9f9f9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*----------  Basic styles  ----------*/

body {
  font-family: "Nunito", sans-serif;
  background: var(--white);
}

h1 {
  font-family: "Zen Os", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

h2,
h3 {
  font-family: "Offside", cursive;
}

h2 {
  font-size: 1.5rem;
}


/*----------  Layout  ----------*/

.container {
  /* max-width: 50rem; */
  display: grid;
  /* gap: 2em; */
}

/*----------  Header  ----------*/

.header {
  width: 100%;
  background: linear-gradient(90deg,
      rgba(31, 35, 46, 0.6) 0%,
      rgba(31, 35, 46, 0.6) 100%),
    center / cover no-repeat url(./bg.jpg);
  padding: 2.9rem;
  text-align: center;
  --primary: var(--blue);
  --secondary: var(--white);
}

.page-title {
  color: var(--primary);
}

.page-subtitle {
  color: var(--secondary);
}


/*----------  App section  ----------*/

.app {
  padding: 3rem 2rem;
}

/*----------  Desktop version  ----------*/

@media screen and (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  .container {
    min-height: 80%;
    grid-template-columns: 1fr 1fr;
    margin-inline: 2rem;
    border-radius: 2rem;
    box-shadow: 0.3px 0.5px 0.7px hsl(0deg 0% 63% / 0.34),
      1.5px 2.9px 3.7px -0.4px hsl(0deg 0% 63% / 0.34),
      2.7px 5.4px 6.8px -0.7px hsl(0deg 0% 63% / 0.34),
      4.5px 8.9px 11.2px -1.1px hsl(0deg 0% 63% / 0.34),
      7.1px 14.3px 18px -1.4px hsl(0deg 0% 63% / 0.34),
      11.2px 22.3px 28.1px -1.8px hsl(0deg 0% 63% / 0.34),
      17px 33.9px 42.7px -2.1px hsl(0deg 0% 63% / 0.34),
      25px 50px 62.9px -2.5px hsl(0deg 0% 63% / 0.34);
  }

  .header {
    border-radius: 2rem;
  }

  .app {
    padding: 4rem 2.8rem;
  }
}