:root {
  --grey: #8b8b8b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*----------  Basic styles  ----------*/

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Zen Os", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

h2,
h3 {
  font-family: "Offside", cursive;
}

h2 {
  font-size: 1.5rem;
}

/*----------  Header  ----------*/

.header {
  width: 100%;
  background: linear-gradient(90deg,
      rgba(31, 35, 46, 0.6) 0%,
      rgba(31, 35, 46, 0.6) 100%),
    center / cover no-repeat url(./bg.jpg);
  padding: 2.9rem;
  text-align: center;
  --primary: #cfd9f1;
  --secondary: #f9f9f9;
}

.page-title {
  color: var(--primary);
}

.page-subtitle {
  color: var(--secondary);
}

/*----------  App section  ----------*/