:root {
  --accent-dark: #ff763c;
  --accent-light: #ff9e2d;
  --accent: #ff6442;
  --bg: #433f5a;
  --l-fg-dark: #f6f6f6;
  --l-fg: #ffffff;
  --d-fg: #000000;
  --secondary: #717171;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*----------  Basic styles  ----------*/

body {
  font-family: "Nunito", sans-serif;
  background: var(--bg);
  color: var(--l-fg);
}

h2,
h3 {
  font-family: "Offside", cursive;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

.btn {
  display: inline-block;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  background: transparent;
  color: var(--btn-color);
}

.btn:hover {
  background: var(--btn-accent);
}

.btn:focus {
  outline: 3px solid var(--btn-accent);
}

.btn:active {
  translate: 2px 2px;
}

.submit-btn,
.pay-btn {
  --btn-color: var(--l-fg);
  background: var(--accent-dark);
  --btn-accent: var(--accent);
  font-weight: 700;
  padding: 1em;
  width: 100%;
  border-radius: 0.3em;
}

.hidden {
  display: none;
}

/*----------  Layout  ----------*/

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "cart cart cart";
  height: 100vh;
}

/*----------  Header  ----------*/

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.view-cart {
  padding: 1em;
  position: relative;
}

mark {
  position: absolute;
  font-size: 0.7em;
  top: -0.1em;
  right: -0.1em;
  padding: 0.3em;
  border-radius: 50%;
  background: var(--accent);
  color: var(--l-fg-dark);
}

.header img {
  max-width: 2.5rem;
}

.cart-logo {
  cursor: pointer;
}

/*----------  App section  ----------*/
.menu-section {
  overflow-y: scroll;
  padding: 1em 2em;
  display: grid;
  row-gap: 2em;
  grid-area: main;
}

.menu-section::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1.5em;
  visibility: hidden;
}

.menu-section::-webkit-scrollbar {
  width: 6px;
}

.menu-section::-webkit-scrollbar-thumb {
  background-color: var(--accent-light);
  border-radius: 1.5em;
  visibility: hidden;
}

.menu-section:hover::-webkit-scrollbar-track,
.menu-section:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* Menu items */

.menu-item {
  display: flex;
  gap: 1em;
  border-bottom: 1px solid var(--secondary);
  padding-bottom: 1em;
  margin-right: 0.5em;
}

.menu-item:last-child {
  border-bottom: none;
}

.emoji {
  font-size: 4em;
  line-height: 125%;
  opacity: 0.8;
}

.ingredients {
  font-size: 0.8em;
  opacity: 0.6;
}

.menu-item .price {
  margin-top: 0.3em;
}

.text-content {
  flex: 1;
}

.add-btn {
  cursor: pointer;
  transition: all 0.3s linear;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn.added {
  transform-origin: center;
  transform: rotate(180deg);
}

.add-btn.added .fa-plus {
  color: var(--accent);
}

.add-btn.added .fa-circle {
  color: var(--accent-dark);
}

/*----------  Your order section  ----------*/

/* TODO: add a button minimizing the div  */

.your-order {
  grid-area: cart;
  padding: 1em 1.5em;
  background: var(--l-fg);
  color: var(--d-fg);
  border-radius: 1em 1em 0 0;
}

.order-title {
  text-align: center;
}

.order-items {
  margin-block: 1.7em;
}

.order-item {
  display: flex;
  align-items: center;
  column-gap: 0.6em;
}

.your-order .price {
  margin-left: auto;
}

.remove-btn {
  --btn-color: var(--secondary);
  font-size: 0.8em;
}

.remove-btn:hover {
  color: var(--accent);
}

.total {
  border-top: 3px solid var(--accent-light);
  display: flex;
  padding-block: 0.8em 1.5em;
}

.total .price {
  color: var(--accent);
  font-weight: 600;
}

/*----------  Payment pop-up  ----------*/

.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-popup {
  background: var(--bg);
  filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
  padding: 1.8em 1.4em;
  border-radius: 0.4em;
  box-shadow: 0.3px 0.5px 0.7px hsla(0, 0%, 25%, 0.36),
    0.8px 1.6px 2px -0.8px hsl(0, 0%, 25%, 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(0, 0%, 25%, 0.36),
    5px 10px 12.6px -2.5px hsl(0, 0%, 25%, 0.36);
}

.payment-title {
  text-align: center;
  margin-bottom: 1.5em;
}

.payment-form {
  display: grid;
  gap: 1em;
  grid-auto-columns: minmax(10rem, 20rem);
}

.payment-form input {
  border: 1px solid var(--bg-accent-primary);
  padding: 0.5em;
}

.payment-form input:focus {
  outline-color: var(--bg-accent-secondary);
}

.payment-form input::placeholder {
  color: var(--accent-primary-hover);
  font-size: 0.9em;
}

.pay-btn {
  margin-top: 1.5em;
}

/*----------  Thank you pop-up  ----------*/

.thankyou-popup {
  margin: 2.2em auto;
  background: var(--bg-accent-secondary);
  color: var(--l-fg-light);
  padding: 1.5em 2em;
  width: fit-content;
  text-align: center;
  border-radius: 0.3em;
}

/*----------  Desktop version  ----------*/

@media screen and (min-width: 600px) {
  body {
    display: grid;
    place-content: center;
  }

  .container {
    grid-template-areas:
      "header header header"
      "main main cart"
      "main main cart"
      "main main cart";
    padding: 1.5em;
    column-gap: 1em;
  }

  .your-order {
    border-radius: 1em;
  }
}
